RAW_DATA_PATH=data/raw/
PROCESSED_DATA_PATH=data/silver/
GOLD_DATA_PATH=data/gold/
DB_PATH=data/covid_health_analytics.db
WHO_API_URL=https://ghoapi.azureedge.net/api/
LOG_LEVEL=INFO
INCREMENTAL_LOAD=false